
.why-title::before{
    content: 'why choose us';
    animation: why-title  9s infinite alternate;
}
.about-title::before{
    content: 'About me';
    animation: about-title  9s infinite alternate;
}
.pre-projects-title::before{
    content: 'completed projects';
    animation: projects-title  9s infinite alternate;
    white-space: pre-wrap;
}
.tool-list-title::before{
    content: 'tools I use';
    animation: tools-title  9s infinite alternate;
}
.contact-title::before{
    content: 'Lets Talk';
    animation: contact-title  9.0s infinite alternate;
}

.hero-title-nbr::before {
    content: 'Hello I\'m';
    animation: nameIntro 9s infinite alternate;
}
/* pc pic animation */
@keyframes cutout2 {
        0%,100%{
            transform: translateX(0) translateY(0);
    opacity: 0;
        }
        50%{
            transform: translateX(2rem) translateY(-2rem);
           opacity: 1;
        }
    }
    @keyframes cutout3 {
        0%,100%{
            transform: translateX(0) translateY(0);
    opacity: 1;
        }
        50%{
            transform: translateX(4rem) translateY(-4rem);
           opacity: .9;
        }
    }

/*glitch text effect animations*/










@keyframes projects-title {
   
    0% {
        content: 'Projects';
    }

    0.5% {
        content: '34!#H*2';
    }

    1% {
        content: '/%#!`23 ';
    }

    1.5% {
        content: 'Cnghs%x^';
    }

    2% {
        content: 'hoosuss=';
    }

    2.5% {
        content: 'T67%asGq$';
    }

    /* 12% {
        content: '!#$(kg*%-';
    }
    14% {
        content: 'fg#^sd*3';
      
    }16% {
        content: '7%D$%dft3';
    }

    18% {
        content: '^&\Hrehz';
    }

    20% {
        content: '7%D$%dft3]';   

    }

    22% {
        content: 'W#$%475%';
    } */
    
     3% {
        content: 'Projects';
    }

    100% {
        content: 'Projects';
        

    }
}

@keyframes contact-title {
   
    0% {
        content: 'Lets Talk';
    }

    0.5% {
        content: '%G# 7%D$';
    }

    1% {
        content: 'FH% kg*%';
    }

    1.5% {
        content: 'G^# sGq$';
    }

    2% {
        content: 'Q!@ sd*3';
    }

    2.5% {
        content: 'RY& %78S';
    }

    /* 6% {
        content: 'T*$ Cngh';
    }
    14% {
        content: 'why hoos';
      
    }16% {
        content: 'yR* 475%';
    }

    18% {
        content: 'Z^8 #H*2';
    }

    20% {
        content: '*(_) !`23';   

    }

    22% {
        content: '%&* rehz';
    } */
    
     3% {
        content: 'Lets Talk';
      
    }

    100% {
        content: 'Lets Talk';
        

    }
}

@keyframes about-title {
   
    0% {
        content: 'About me';
    }

    0.5% {
        content: '%G# 7%t3';
    }

    1% {
        content: 'FH% !#$-';
    }

    1.5% {
        content: 'G^# TsGq$';
    }

    2% {
        content: 'Q!@ fg*3';
    }

    2.5% {
        content: 'RY& SF8S';
    }

    /* 12% {
        content: 'T*$ Cnx^';
    }
    14% {
        content: 'why hoos';
      
    }16% {
        content: 'yR* W#$%';
    }

    18% {
        content: 'Z^8 34!';
    }

    20% {
        content: '*(_) /%#';   

    }

    22% {
        content: '%&* ^&';
    }
     */
     3% {
        content: 'About me';
      
    }

    100% {
        content: 'About me';
        

    }
}

@keyframes tools-title {
    0% {
        content: 'tools I use';
        
    }

    0.5% {
        content: 'c0%!@% yg T$^';
        
    }

    1% {
        content: '$^&!@% 6g $%H';
    }

    1.5% {
        content: 'D^&H!+ s4 T^!';
    }

    2% {
        content: 'M&@()K dE ^&%';
    }

    2.5% {
        content: '%@#GJ& 2$ ^$%';
    }

    /* 12% {
        content: 'F<?>SG% +! Hh1';
    }

    14% {
        content: 'I#N_+T& r$ &J^';
    }

    16% {
        content: 'W#$%47@ 5% yR*';
    }

    18% {
        content: '@34!#HJ *2 Z^8';
    }

    20% {
        content: '=/%#!`2 #3 *(_)';   

    }

    22% {
        content: '^&$Hreh z$ %&*';
    }
     */

/*
    24% {
        content: '!#$ $^&dg$^ 2$';
    }

    26% {
        content: '%G# 7%D$%df4 t3';
    }

    28% {
        content: 'FH% !#$()kg* %-';
    }

    30% {
        content: 'G^# T67#% G^ q$';
    }

    32% {
        content: 'Q!@ fg#%^sdf *3';
    }

    34% {
        content: 'RY& SF5*%67G 8S';
    }

    36% {
        content: 'T*$ C*nghs% x^';
        opacity: .5;

    }
*/

    3% {
        content: 'tools I use';
      
    }

    100% {
        content: 'tools I use';
        

    }
}

/* @keyframes why-title {
    0% {
        content: 'why choose us';
        
    }

    2% {
        content: 'T$^ c0%!@% yg';
        
    }

    4% {
        content: '$%H $^&!@% 6g';
    }

    6% {
        content: 'T^! D^&H!+ 4';
    }

    8% {
        content: '^&% M&@()K dE';
    }

    10% {
        content: '^$% %@#GJ& 2$';
    }

    12% {
        content: 'Hh1 F<?>SG% +!';
    }

    14% {
        content: '&J^ I#N_+T& r$';
    }

    16% {
        content: 'yR* W#$%47@ 5%';
    }

    18% {
        content: 'Z^8 @34!#HJ *2';
    }

    20% {
        content: '*(_) =/%#!`2 #3';   

    }

    22% {
        content: '%&* ^&$Hreh z$';
    } 
    
    24% {
        content: '!#$ $^&dg$^ 2$';
    }

    26% {
        content: '%G# 7%D$%df4 t3';
    }

    28% {
        content: 'FH% !#$()kg* %-';
    }

    30% {
        content: 'G^# T67#% G^ q$';
    }

    32% {
        content: 'Q!@ fg#%^sdf *3';
    }

    34% {
        content: 'RY& SF5*%67G 8S';
    }

    36% {
        content: 'T*$ C*nghs% x^';
        opacity: .5;

    }
    
    24% {
        content: 'why choose us';
      
    }
    
    100% {
        content: 'why choose us';
        
        
    }
}
*/

@keyframes nameIntro {
    0% {
        content: 'Hello I\'m';
        opacity: 1;
    }

    2% {
        content: 'H!a c%!';
        opacity: .5;
    }

    4% {
        content: '$%Ds $&!';
    }

    6% {
        content: 'T$!g ^&H';
    }

    8% {
        content: '^&a MaE';
    }

   10% {
        content: '$^$ @#G';
    }

    12% {
        content: 'H1F <?>!';
    }

    14% {
        content: '&HI #N_$';
    }

    16% {
        content: 'yW #@%';
    }

    18% {
        content: '8@ 34*';
    }

    20% {
        content: '[*( /%';   

    }

    22% {
        content: '%^ &$r$';
    } 

    /*
     24% {
        content: '!@$$ a^$';
    }

    26% {
        content: 'T%#7 f43';
    }

    28% {
        content: '^H%! #*-';
    }

    30% {
        content: 'G^JT 6^$';
    }

    32% {
        content: 'Q@#f tf3';
    }

    34% {
        content: 'R&$S aF5';
    }

    36% {
        content: 'H$Go *%^';
        opacity: .5;

    } */

    24% {
        content: 'Hello I\'m';
        opacity: 1;
    }

    100% {
        content: 'Hello I\'m';
        opacity: 1;

    }
}

@keyframes hero-type {
    0% {
        width: 0%;
        content: 'UI/UX Design';
    }

    7% {
        width: 80%;
        content: 'UI/UX Design';
    }

    14% {
        width: 0%;
        content: 'UI/UX Design';
    }

    /*--------1-----*/
    15% {
        width: 0%;
        content: 'Front-End Development';
    }

    24% {
        width: 100%;
        content: 'Front-End Development';
    }

    31% {
        width: 0%;
        content: 'Front-End Development';
    }

    /*-------2------*/
    32% {
        width: 0%;
        content: 'Back-End Development';
    }

    41% {
        width: 100%;
        content: 'Back-End Development';
    }

    48% {
        width: 0%;
        content: 'Back-End Development';
    }

    /*------3-------*/
    49% {
        width: 0%;
        content: 'API Development';
    }

    58% {
        width: 50%;
        content: 'API Development';
    }

    65% {
        width: 0%;
        content: 'API Development';
    }

    /*------4-------*/
    66% {
        width: 0%;
        content: 'data analysis';
    }

    75% {
        width: 60%;
        content: 'data analysis';
    }

    82% {
        width: 0%;
        content: 'data analysis';
    }

    /*------5-------*/
    83% {
        width: 0%;
        content: 'app development';
    }

    92% {
        width: 90%;
        content: 'app development';
    }

    98% {
        width: 0%;
        content: 'app development';
        /*----6---------*/
    }

    100% {
        width: 0%;
        content: 'UI/UX Design';
    }
}

@keyframes turn {
    0% {
 
    }

    50% {
        color: #017ba9;
        transform: translateX(1rem);

    }

    100% {}


}
@keyframes turn-phone {
    0%,100% {

 transform: rotate(90deg);
    }

    50% {
        color: #017ba9;
        transform: translateX(.8rem) rotate(90deg);

    }
    /* added at the last moment */
 /* transform : rotate(90deg); */
}

